<div class="banner banner-paralax_team" >
  <div class="title">
    <h1 class="title__main title__main-team">OUR TEAM</h1>
    <div class="line">
      &nbsp;
    </div>
  </div>
</div>

<!-- EXECUTIVE TEAM -->
<div class="wrapper wrapper-white">
  <div class="process">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile text-center profile-margin_none">
             <%=  image_tag "noah.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>NOAH GREENBERG</strong></h4>
            </div>
            <div class="profile__position">
              <p>CEO</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile profile-margin_none">
            <%= image_tag "sam_gross.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>SAM GROSS</strong></h4>
            </div>
            <div class="profile__position">
              <p>VP, RESEARCH</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile profile-margin_none">
            <%= image_tag "melanie_holohan.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>MELANIE HOLOHAN</strong></h4>
            </div>
            <div class="profile__position">
              <p>VP, PROGRAMMING</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- RESEARCH TEAM -->
<div class="wrapper wrapper-gray">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">RESEARCH</h1>
    <!-- <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</p> -->
  </div>
  <div class="process">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-">
          <div class="profile text-center">
            <%= image_tag "spencer_feingold.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>SPENCER FEINGOLD</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "luke_hicks.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>LUKE HICKS</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "betsy_ladyzhets.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>BETSY LADYZHETS</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "diana_shishkina.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>DIANA SHISHKINA</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDITORIAL TEAM -->
<div class="wrapper wrapper-paralax_modern">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">EDITORIAL</h1>
    <!-- <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</p> -->
  </div>
  <div class="process">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile text-center">
            <%= image_tag "nicole_caldwell.JPG", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>NICOLE CALDWELL</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile text-center">
            <%= image_tag "danielle_tingley.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>DANIELLE TINGLEY</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "morgan_mullings.JPG", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>MORGAN MULLINGS</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "aishwarya_sukesh.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>AISHWARYA SUKESH</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "kristen_wegrzyn.JPG", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>KRISTEN WEGRZYN</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "isabel_sepulveda.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>ISABEL SEPÙLVEDA</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- CAREERS SECTION -->
<div class="wrapper wrapper-white" id="careers">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main" id="#careers">CAREERS</h1>
    <p class="title__sub">Headquartered in New York City, Stacker is a profitable early-stage media company. We are working to further data-driven journalism by rethinking how stories are researched, produced and promoted. A talented and diverse 10-person team, we are looking for passionate, hungry individuals who want to make a large impact quickly. A rapidly growing team, open roles are constantly changing, some centered at our New York HQ, and some with opportunity to work remote.</p>
  </div>
  <div class="list">
    <div class="list__left">
      <div class="list__job-name">
        <p>Traffic Aquisition Manager</p>
      </div>
      <div class="list__description">
        <p>Leveraging our large archive of highly engaging content, we’re seeking a Traffic Acquisition Manager to profitably grow our on-site audience through Taboola, Outbrain, Gemini, SEM, social, etc.</p>
      </div>
      <button data-toggle="collapse" data-target="#traffic_aquisition_manager">Learn More</button>
      <div id="traffic_aquisition_manager" class="collapse">
        <div class="list__description_sub">
          <h5>Head of Audience Development will:</h5>
          <p>Reporting directly to the CEO, the Traffic Acquisition Manager will take sole ownership of devising Stacker’s paid campaign strategy, driving profitable growth through execution and iteration. Though Stacker reaches millions of readers each month, this will be our first foray into paid acquisition, and we are looking for an experienced manager to build and own the operation from the ground up. We’re looking for someone confident in their abilities to build a sustainable strategy, and accordingly, compensation for the role will include generous performance incentives.</p>
          <ul>
            <li>Develop and execute a multi-channel traffic acquisition strategy from the ground up</li>
            <li>Strategically deploy large paid marketing budget to profitably drive traffic to Stacker</li>
            <li>Consult and advise onsite advertising team to drive monetization strategy</li>
            <li>Work closely with editorial team to share insights and drive content recommendations to supercharge audience growth</li>
            <li>Track, analyze, and report on audience data strategies to executive team</li>
          </ul>
          <h5>Requirements:</h5>
          <ul>
            <li>3 - 5 years of experience in traffic acquisition/digital audience development, ideally at a media or content driven organization</li>
            <li>Multi-year experience working with Google Analytics</li>
            <li>Strong digital knowledge and passion for media/ data</li>
            <li>Excellent analytical mindset and the ability to make quick, data-driven decisions</li>
            <li>Mastery in excel</li>
            <li>Creative problem-solving abilities- excited about testing and scaling new platforms, ad products, and marketing services</li>
            <li>Strong communication and presentation skills, experience in business development/partner management a plus</li>
            <li>Experience in digital ad operations, digital acquisition are mandatory</li>
          </ul>
          <h5>Interested? Email careers@thestacker.com with 1) your CV, and 2) one paragraph overview of why you'd like to join us.</h5>
        </div>
      </div>
    </div>
    <div class="hidden-sm hidden-md hidden-xs">
      <div class="list__right">
        <p>NEW YORK CITY OR REMOTE</p>
      </div>
    </div>
  </div>
</div>
