<div class="banner banner-paralax_team" >
  <div class="title">
    <h1 class="title__main title__main-team">OUR TEAM</h1>
    <div class="line">
      &nbsp;
    </div>
  </div>
</div>

<!-- EXECUTIVE TEAM -->
<div class="wrapper wrapper-white">
  <div class="process">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile text-center profile-margin_none">
             <%=  image_tag "noah.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>NOAH GREENBERG</strong></h4>
            </div>
            <div class="profile__position">
              <p>CEO</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile profile-margin_none">
            <%= image_tag "sam_gross.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>SAM GROSS</strong></h4>
            </div>
            <div class="profile__position">
              <p>VP, RESEARCH</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile profile-margin_none">
            <%= image_tag "melanie_holohan.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>MELANIE HOLOHAN</strong></h4>
            </div>
            <div class="profile__position">
              <p>VP, PROGRAMMING</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- RESEARCH TEAM -->
<div class="wrapper wrapper-gray">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">RESEARCH</h1>
    <!-- <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</p> -->
  </div>
  <div class="process">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-">
          <div class="profile text-center">
            <%= image_tag "spencer_feingold.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>SPENCER FEINGOLD</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "luke_hicks.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>LUKE HICKS</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "betsy_ladyzhets.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>BETSY LADYZHETS</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "diana_shishkina.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>DIANA SHISHKINA</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-">
          <div class="profile">
            <%= image_tag "rob_powell.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>ROB POWELL</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDITORIAL TEAM -->
<div class="wrapper wrapper-paralax_modern">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">EDITORIAL</h1>
    <!-- <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</p> -->
  </div>
  <div class="process">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-4 col-">
          <div class="profile text-center">
            <%= image_tag "nicole_caldwell.JPG", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>NICOLE CALDWELL</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-">
          <div class="profile text-center">
            <%= image_tag "danielle_tingley.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>DANIELLE TINGLEY</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "morgan_mullings.JPG", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>MORGAN MULLINGS</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "aishwarya_sukesh.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>AISHWARYA SUKESH</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "kristen_wegrzyn.JPG", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>KRISTEN WEGRZYN</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-">
          <div class="profile">
            <%= image_tag "isabel_sepulveda.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>ISABEL SEPÙLVEDA</strong></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-">
          <div class="profile">
            <%= image_tag "michael_flocker.jpg", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>MICHAEL FLOCKER</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- CAREERS SECTION -->
<div class="wrapper wrapper-white" id="careers">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main" id="#careers">CAREERS</h1>
    <p class="title__sub">Headquartered in New York City, Stacker is a profitable early-stage media company. We are working to further data-driven journalism by rethinking how stories are researched, produced and promoted. A talented and diverse 10-person team, we are looking for passionate, hungry individuals who want to make a large impact quickly. A rapidly growing team, open roles are constantly changing, some centered at our New York HQ, and some with opportunity to work remote.</p>
  </div>
  <div class="list">
    <div class="list__left">
      <div class="list__job-name">
        <p>Assistant Editor</p>
      </div>
      <div class="list__description">
        <p>As Stacker grows, we are looking for an experienced assistant editor to function as our last set of eyes before stories go live. The assistant editor will be responsible for fact-checking all images and ensuring quality (and sourcing/swapping in new ones as needed), fact-checking, testing hyperlinks, reviewing for grammar and AP style,  and ensuring each piece is ready for publication.</p>
      </div>
      <button data-toggle="collapse" data-target="#assistant_editor">Learn More</button>
      <div id="assistant_editor" class="collapse">
        <div class="list__description_sub">
          <h5>Assistant Editor will:</h5>
          <p>We will be counting on this person to review edited copy and make any and all final catches with images and content, provide feedback, and help us meet our velocity goals.</p>
          <ul>
            <li>Edit seven to 10 stories daily in Stacker’s CMS</li>
            <li>Have an eagle eye for misspellings, plagiarism, photo quality, missing data, or misrepresentation of content</li>
            <li>Make final edits for concise, clear copy that adheres to AP style</li>
            <li>Fact-check</li>
            <li>Test hyperlinks and ensure they’re relevant to the text</li>
          </ul>
          <h5>Requirements:</h5>
          <ul>
            <li>2+ years working as an editor in a digital-first newsroom</li>
            <li>At least one year of experience editing in CMS and working with images (sourcing, uploading, etc.)</li>
            <li>Expert command over AP style and experience fact-checking</li>
            <li>Comfort editing stories built around data</li>
            <li>A knack for brevity and optimizing word choice for slideshow formats</li>
            <li>A keen eye for grammar, spelling, and style errors</li>
            <li>Impeccable organizational skills, attention to detail, ability to meet strict deadlines</li>
            <li>A clear grasp of objective, fact-based journalism (Stacker does not editorialize)</li>
            <li>Broad knowledge of a diverse set of coverage areas—including news, sports, finance, entertainment, and lifestyle topics—with a curiosity for new topics</li>
            <li>Exceptional communication skills and ability to provide feedback to a network of writers and fellow editors</li>
            <li>Hard working, with a zero-defect attitude</li>
          </ul>
          <h5>Interested? Email careers@thestacker.com with 1) your CV, and 2) one paragraph overview of why you'd like to join us.</h5>
        </div>
      </div>
    </div>
    <div class="hidden-sm hidden-md hidden-xs">
      <div class="list__right">
        <p>NEW YORK CITY OR REMOTE</p>
      </div>
    </div>
  </div>
  <div class="list">
    <div class="list__left">
      <div class="list__job-name">
        <p>Business Development Intern</p>
      </div>
      <div class="list__description">
        <p>Stacker is seeking a hungry, tenacious critical-thinker with outstanding writing skills to help test and expand our business development and marketing strategies. The business development intern will help drive meaningful impact for the business, both assisting the CEO with large scale partnership development, and owning execution of their own marketing strategies, from program development to prospecting and outreach.</p>
      </div>
      <button data-toggle="collapse" data-target="#business_development_intern">Learn More</button>
      <div id="business_development_intern" class="collapse">
        <div class="list__description_sub">
          <h5>Business Development Intern will:</h5>
          <p>A small, nimble team, Stacker has zero time for busy work, and is looking for hardworking individuals to come in and make a real impact.</p>
          <ul>
            <li>Own testing for various marketing & outreach strategies to drive exposure and coverage of Stacker content</li>
            <li>Be responsible for creating partnerships with research organizations and other potential data providers</li>
            <li>Work directly with the CEO, helping with prospecting, research and pitches for company wide BD initiatives</li>
          </ul>
          <h5>Requirements:</h5>
          <ul>
            <li>Excellent written communication and critical-thinking skills</li>
            <li>A+ work ethic and a hunger to figure things out</li>
            <li>Knack for understanding and solving complex problems</li>
            <li>Advanced Powerpoint abilities a plus</li>
          </ul>
          <h5>Interested? Email careers@thestacker.com with 1) your CV, and 2) one paragraph overview of why you'd like to join us.</h5>
        </div>
      </div>
    </div>
    <div class="hidden-sm hidden-md hidden-xs">
      <div class="list__right">
        <p>NEW YORK CITY</p>
      </div>
    </div>
  </div>
</div>
