<!-- Banner -->
<div class="banner banner-paralax" >
  <div class="title title-banner">
    <h1 class="title__main title__main-team">STACKER</h1>
    <div class="line">
      &nbsp;
    </div>
    <p class="title__sub-about">Transforming expert analysis into digestible stories that entertain and inform.</p>
  </div>
</div>

<!-- Mission -->
<div class="wrapper wrapper-white">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">MISSION</h1>
    <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna</p>
  </div>
</div>

<!-- Process -->
<div class="wrapper wrapper-gray">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">PROCESS</h1>
    <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna</p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-xs-12 col-lg-4">
        <div class="block">
          <div class="block__icon">
            <%= image_tag "pie.svg", class: "block__icon" %>
          </div>
          <div class="block__title">
            <h3>EXPERT ANALYSIS</h3>
          </div>
          <div class="block__text">
            <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-xs-12 col-lg-4">
        <div class="block middle_element">
          <div class="block__icon">
            <%= image_tag "pencil.svg", class: "block__icon" %>
          </div>
          <div class="block__title">
            <h3>OBJECTIVE WRITING</h3>
          </div>
          <div class="block__text">
            <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-xs-12 col-lg-4">
        <div class="block">
          <div class="block__icon">
            <%= image_tag "list.svg", class: "block__icon" %>
          </div>
          <div class="block__title">
            <h3>DIGESTALBLE FORMAT</h3>
          </div>
          <div class="block__text">
            <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Data Sources -->
<div class="wrapper wrapper-paralax_modern">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">DATA SOURCES</h1>
    <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna</p>
  </div>
  <div class="container">
    <div class="text-center">

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<!-- Who We Are -->
<div class="wrapper wrapper-white">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">WHO WE ARE</h1>
    <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna</p>
  </div>
    <%= image_tag "team.png", class: "team_photo" %>
    <a href="/team" class="btn">Meet the Team</a>
</div>

<!-- Become A Partner -->
<div class="wrapper wrapper-gray">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">BECOME A PARTNER</h1>
    <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna</p>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <div class="block-big">
            <div class="block__icon">
              <%= image_tag "paper.svg", class: "block__icon" %>
            </div>
            <div class="block__title">
              <h3>SYNDICATION</h3>
            </div>
            <div class="block__text">
              <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna. Adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="block-big">
            <div class="block__icon">
              <%= image_tag "graph.svg", class: "block__icon" %>
            </div>
            <div class="block__title">
              <h3>PUBLISHING</h3>
            </div>
            <div class="block__text">
              <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna. Adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Us -->
<div class="wrapper wrapper-paralax_modern">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">CONTACT US</h1>
    <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna</p>
  </div>
  <div class="form_holder">
  </div>
</div>
