<!-- Banner -->
<div class="banner banner-paralax" >
  <div class="title title-banner">
    <h1 class="title__main title__main-team">STACKER</h1>
    <div class="line">
      &nbsp;
    </div>
    <p class="title__sub-about">Transforming expert analysis into digestible stories that entertain and inform.</p>
  </div>
</div>

<!-- Mission -->
<div class="wrapper wrapper-white">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">MISSION</h1>
    <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna</p>
  </div>
</div>

<!-- Process -->
<div class="wrapper wrapper-gray">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">PROCESS</h1>
    <p class="title__sub">Leveraging thousands of unique data sets and a team of expert researchers, Stacker ties quantitative analysis with objective editorial insights, putting information into context in an easy to navigate format.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="block-big">
          <div class="block__icon">
            <%= image_tag "pie.svg", class: "block__icon" %>
          </div>
          <div class="block__title">
            <h3>EXPERT ANALYSIS</h3>
          </div>
          <div class="block__text">
            <p>Tapping into a variety of both public and proprietary data sources, our research team unearths relevant statistics to power each story.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="block-big">
          <div class="block__icon">
            <%= image_tag "pencil.svg", class: "block__icon" %>
          </div>
          <div class="block__title">
            <h3>OBJECTIVE WRITING</h3>
          </div>
          <div class="block__text">
            <p>Reporters marry data with contextual insights and other timely and relevant information, helping paint a complete picture of the matter at hand.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="block-big">
          <div class="block__icon">
            <%= image_tag "list.svg", class: "block__icon" %>
          </div>
          <div class="block__title">
            <h3>DIGESTIBLE FORMAT</h3>
          </div>
          <div class="block__text">
            <p>Each story is presented in an easy to navigate “Stack,” ensuring readers can easily find the facts most relevant to them, and putting critical statistics into their overall context.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Data Sources -->
<div class="wrapper wrapper-paralax_modern">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">DATA SOURCES</h1>
    <p class="title__sub">From government reports to consumer behavior reports and web traffic statistics, Stacker leverages hundreds of various research institutions to make sure each story is built upon the most authoritative data available.</p>
  </div>
  <div class="container">
    <div class="text-center">

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="block__icon-data">
          <%= image_tag "icon.svg", class: "block__icon-data" %>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<!-- Who We Are -->
<div class="wrapper wrapper-white">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">OUR TEAM</h1>
    <p class="title__sub">We're a team of data-minded media junkies. We're looking for curious, hard-working people who are passionate about shaping the future of media and storytelling.</p>
  </div>
    <%= image_tag "team.png", class: "team_photo" %>
    <a href="/team" class="btn">Meet the Team</a>
</div>

<!-- Become A Partner -->
<div class="wrapper wrapper-gray">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">BECOME A PARTNER</h1>
    <p class="title__sub">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna</p>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="block-big">
            <div class="block__icon">
              <%= image_tag "paper.svg", class: "block__icon" %>
            </div>
            <div class="block__title">
              <h3>SYNDICATION</h3>
            </div>
            <div class="block__text">
              <p>Looking for new types of content to enhance user engagement? We have thousands of slideshow-stories that you can leverage to increase consumer interactions on your site.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="block-big">
            <div class="block__icon">
              <%= image_tag "graph.svg", class: "block__icon" %>
            </div>
            <div class="block__title">
              <h3>PUBLISHING</h3>
            </div>
            <div class="block__text">
              <p>If you’re a researcher or content creator and are interested in spreading the word about your work, our team can help you build a story around your content and garner interest using our own channels and those of our syndication partners. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Us -->
<div class="wrapper wrapper-paralax_modern">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">CONTACT US</h1>
    <p class="title__sub">Send us a note if you’re interested in becoming a partner or a part of the Stacker team!</p>
  </div>
  <div class="form_holder">
  </div>
</div>
