<!-- Banner -->
<div class="banner banner-paralax" >
  <div class="title title-banner">
    <h1 class="title__main title__main-team">STACKER</h1>
    <div class="line">
      &nbsp;
    </div>
    <p class="title__sub-about">Transforming expert analysis into digestible stories.</p>
  </div>
</div>

<!-- Mission -->
<div class="wrapper wrapper-white">
  <div class="title">
    <p class="title__sub">With the overload of content across the web, it can be hard to wade through the fake, biased, or just plain boring stories. That’s why at Stacker we built a brand committed to combining objective expert analysis with rich editorial insights - delivering stories that help readers understand important topics in their neighborhood or around the world, in a format that’s enjoyable to consume.</p>
  </div>
</div>

<!-- Process -->
<div class="wrapper wrapper-gray">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">PROCESS</h1>
    <p class="title__sub">Stacker leverages thousands of unique data sets and a team of expert researchers, connecting quantitative analysis with objective editorial insights and putting information into context in an easy to navigate format.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="block-big">
          <div class="block__icon">
            <%= image_tag "pie.svg", class: "block__icon" %>
          </div>
          <div class="block__title">
            <h3>LET DATA TELL THE STORY</h3>
          </div>
          <div class="block__text">
            <p>Analysis draws from authoritative public and private data sources to expose untold stories</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="block-big">
          <div class="block__icon">
            <%= image_tag "pencil.svg", class: "block__icon" %>
          </div>
          <div class="block__title">
            <h3>ADD RICH EDITORIAL INSIGHTS</h3>
          </div>
          <div class="block__text">
            <p>Objective editorial context goes beyond the numbers, painting the complete picture surrounding complex topics</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="block-big">
          <div class="block__icon">
            <%= image_tag "list.svg", class: "block__icon" %>
          </div>
          <div class="block__title right">
            <h3>DELIVER FOR DIGITAL</h3>
            &nbsp;
          </div>
          <div class="block__text">
            <p>Intuitive slideshow format helps readers navigate to what matters most, and explore new areas with ease</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Data Sources -->
<div class="wrapper wrapper-paralax_modern">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">DATA SOURCES</h1>
    <p class="title__sub">From census data to box office returns ,Stacker leverages a variety of sources ensuring each story is built upon the most authoritative data available.</p>
  </div>
  <div class="container">
    <div class="text-center">

      <div class="row top-buffer">
        <div class="col-xs-12 col-sm-12 col-lg-3 top-buffer">
          <%= image_tag "dsbarchart.png", class: "block__icon_data" %>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3 top-buffer">
          <%= image_tag "dsbls.png", class: "block__icon_data-larger" %>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3 top-buffer">
          <%= image_tag "dscensus.png", class: "block__icon_data" %>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3 top-buffer">
          <%= image_tag "dsgetty.png", class: "block__icon_data" %>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3 top-buffer">
          <%= image_tag "dskff.png", class: "block__icon_data-larger" %>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3 top-buffer">
          <%= image_tag "dsnoaa.png", class: "block__icon_data-larger" %>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3 top-buffer">
          <%= image_tag "dsspotify.png", class: "block__icon_data-larger" %>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3 top-buffer">
          <%= image_tag "dsstatista.png", class: "block__icon_data" %>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3 top-buffer">
          <%= image_tag "dsfoursquare.png", class: "block__icon_data" %>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Who We Are -->
<div class="wrapper wrapper-white">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">OUR TEAM</h1>
    <p class="title__sub">We're a team of data-minded media junkies. We're looking for curious, hard-working people who are passionate about shaping the future of media and storytelling.</p>
  </div>
  <%= image_tag "team.png", class: "team_photo" %>
  <a href="/team" class="button_green">Meet the Team</a>
</div>

<!-- Become A Partner -->
<div class="wrapper wrapper-gray">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">WORK WITH US</h1>
    <p class="title__sub">Stacker bridges the gap between thought-provoking research and a massive audience, helping individual researchers and larger organizations share their stories, and providing engaging, objective content to media outlets looking to offer newsworthy features to their readers.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="block-big">
          <div class="block__icon">
            <%= image_tag "paper.svg", class: "block__icon" %>
          </div>
          <div class="block__title">
            <h3>FOR PUBLISHERS</h3>
          </div>
          <div class="block__text">
            <p>Looking for objective, highly engaging content to augment your existing coverage? License Stacker’s constantly expanding library of both evergreen and current topics across entertainment, news, travel and more.  </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="block-big">
          <div class="block__icon">
            <%= image_tag "graph.svg", class: "block__icon" %>
          </div>
          <div class="block__title">
            <h3>FOR RESEARCHERS</h3>
          </div>
          <div class="block__text">
            <p>If you’re an organization with interesting data and are looking to engage new audiences, Stacker can help build stories around your research, expanding your reach to millions of new readers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Contact Us -->
<div class="wrapper wrapper-paralax_modern">
  <div class="title">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">CONTACT US</h1>
    <p class="title__sub">Send us a note if you’re interested in becoming a partner or a part of the Stacker team!</p>
  </div>
  <div class="form_holder">
    <div class="dropdown">
      <select id="dropdown__selection">
        <option value="Choose an Option">Choose an Option</option>
        <option value="saab">General Contact</option>
        <option value="mercedes">Publishers</option>
        <option value="audi">Researchers</option>
      </select>
    </div>
    <div class="form_one">
      <div class="contact__form">
        <div id="contact_form__remove" class="form">
          <form class="new_inbound" id="new_inbound" action="mailto:someone@example.com" method="post" enctype="text/plain"><input type="hidden">
            <div class="form__content">
              <label>Name</label>
              <input type="text" name="inbound[name]" id="inbound_name">
              <label>Company Name</label>
              <input type="text" name="inbound[name]" id="inbound_name">
              <label>Email</label>
              <input type="text" name="inbound[email]" id="inbound_email">
              <label>Message</label>
              <textarea class="form__message" id="inbound_message"></textarea>
              <div class="form__button">
                <input type="submit" name="commit" value="Contact Us" class="button_green" data-disable-with="Contact Us">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="form_two" style="display:none">
      <div class="contact__form">
        <div id="contact_form__remove" class="form">
          <form class="new_inbound" id="new_inbound" action="mailto:someone@example.com" method="post" enctype="text/plain"><input type="hidden">
            <div class="form__content">
              <label>Name</label>
              <input  type="text" name="inbound[name]" id="inbound_name">
              <label>Company Name</label>
              <input  type="text" name="inbound[name]" id="inbound_name">
              <label>Email</label>
              <input  type="text" name="inbound[email]" id="inbound_email">
              <label>Message</label>
              <textarea class="form__message" id="inbound_message"></textarea>
              <div class="form__button">
                <input type="submit" name="commit" value="Contact Us" class="button_green" data-disable-with="Contact Us">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="form_three" style="display:none">
      <div class="contact__form">
        <div id="contact_form__remove" class="form">
          <form class="new_inbound" id="new_inbound" action="mailto:someone@example.com" method="post" enctype="text/plain"><input type="hidden">
            <div class="form__content">
              <label>Name</label>
              <input type="text" name="inbound[name]" id="inbound_name">
              <label>Company Name</label>
              <input type="text" name="inbound[name]" id="inbound_name">
              <label>Email</label>
              <input type="text" name="inbound[email]" id="inbound_email">
              <label>Message</label>
              <textarea class="form__message" id="inbound_message"></textarea>
              <div class="form__button">
                <input type="submit" name="commit" value="Contact Us" class="button_green" data-disable-with="Contact Us">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
