<div class="banner banner-paralax_team" >
  <div class="title">
    <h1 class="title__main title__main-team">OUR TEAM</h1>
    <div class="line">
      &nbsp;
    </div>
  </div>
</div>

<div class="wrapper wrapper-white">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">EXECUTIVE TEAM</h1>
  </div>
  <div class="process">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "person.png", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>NOAH GREENBURG</strong></h4>
            </div>
            <div class="profile__description">
              <h4>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</h4>
            </div>
            <div class="profile__position">
              <h4>CEO</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "person.png", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>NOAH GREENBURG</strong></h4>
            </div>
            <div class="profile__description">
              <h4>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</h4>
            </div>
            <div class="profile__position">
              <h4>CEO</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-">
          <div class="profile">
            <%= image_tag "person.png", class: "profile__photo" %>
            <div class="profile__name">
              <h4><strong>NOAH GREENBURG</strong></h4>
            </div>
            <div class="profile__description">
              <h4>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</h4>
            </div>
            <div class="profile__position">
              <h4>CEO</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-gray">
  <div class="title title-no_sub">
    <div class="line">
      &nbsp;
    </div>
    <h1 class="title__main">WRITERS</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-">
        <div class="profile">
          <%= image_tag "person.png", class: "profile__photo" %>
          <div class="profile__name">
            <h4><strong>NOAH GREENBURG</strong></h4>
          </div>
          <div class="profile__description">
            <h4>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</h4>
          </div>
          <div class="profile__position">
            <h4>CEO</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-">
        <div class="profile">
          <%= image_tag "person.png", class: "profile__photo" %>
          <div class="profile__name">
            <h4><strong>NOAH GREENBURG</strong></h4>
          </div>
          <div class="profile__description">
            <h4>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</h4>
          </div>
          <div class="profile__position">
            <h4>CEO</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-">
        <div class="profile">
          <%= image_tag "person.png", class: "profile__photo" %>
          <div class="profile__name">
            <h4><strong>NOAH GREENBURG</strong></h4>
          </div>
          <div class="profile__description">
            <h4>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna.</h4>
          </div>
          <div class="profile__position">
            <h4>CEO</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
